.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #adadad;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(17, 117, 76);
}

.App nav{
  padding: 10px;
  float: left;
}

.App main {
  background-color: var(--background);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

#waterbutton {
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgb(31, 221, 142);
}

nav {
  background-color: black;
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-evenly;
  padding: 2vmin;
  font-size: 2.5vmin;
}



